---
layout: default
title: Scatter
class: frontpage
---

<div id="content">

  <section id="intro">
    <article>
      <header>
        <h1>Local deals and events at your fingertips</h1>
      </header>
      
      {% include form.html %}
    </article>
  </section>
  
  
  
  <section id="features">
    <article>
    
      <header>
        <h1>Small shops in your neighbourhood can now send exclusive offers directly to your mobile</h1>
      </header>
      
      <ul>
        <li>
          <h2>Discover</h2>
          <span>&nbsp;1</span>
          <p>Discover great shops and get exclusive offers from shops around you.</p>
          
        </li>
        
        <li>
          <h2>Communicate and Locate</h2>
          <span>&nbsp;2</span>
          <p>
            Send a private message or call the shop.
            <br/>
            Find a way to get there.
          </p>
        </li>
        
        <li>
          <h2>Set alerts</h2>
          <span>&nbsp;3</span>
          <p>Follow your favourite shops and be the first one to see exclusive offers.</p>
        </li>
      </ul>
      
      {% include form.html %}
      
      <nav>
        <h3>Testimonials</h3>
      </nav>
      
    </article>
  </section>
  
  <section id="testimonials">
    <article>
    
      <ul>
        <li>
          <img src="{{ site.url }}/assets/gravatar-small.jpg" alt="Jody Colley">
          <p>I haven't seen a collaboration between merchants, associations & media like this anywhere else.</p>
          <p>
            <span>Jody Colley</span>
            <span>East Bay Express</span>
            <span>Oakland, CA</span>
          </p>
        </li>
      
        <li>
          <img src="{{ site.url }}/assets/gravatar-small.jpg" alt="Jody Colley">
          <p>Anyone not using this tool is living in the past.</p>
          <p>
            <span>Shari Godinez</span>
            <span>KONO District</span>
            <span>Oakland, CA</span>
          </p>
        </li>
        
        <li>
          <img src="{{ site.url }}/assets/gravatar-small.jpg" alt="Jody Colley">
          <p>This is far one of the best web marketing tool I've used.</p>
          <p>
            <span>Julie Stevens</span>
            <span>17 Jewels Salon+Spat</span>
            <span>Oakland, CA</span>
          </p>
        </li>
      </ul>
    
      
      
      {% include form.html %}
      
    </article>
  </section>
  
</div>




