<div class="companyphoto">
  <img src="http://i.istockimg.com/file_thumbview_approve/1446023/2/stock-photo-1446023-recipe-card-dividers.jpg" alt="All categories">
</div>

<div class="cardfooter">
  <a class="l_followbtn {{ include.klass }}" href="/login?q=4">Follow</a>
  <a class="l_chat" href="/login?q=5"><img src="{{ site.url }}/assets/chat.png" alt="Chat" /></a>
  <a class="l_camera" href="/login?q=5"><img src="{{ site.url }}/assets/camera.png" alt="Photos" /></a>
  <a class="mapicon" href="#" lat="44.4325" lon="26.103889"><img src="{{ site.url }}/assets/location.png" alt="Map" /></a>
</div>
