<nav id="main">
  <ul>
    <li>{% include logo.html %}</li>
    <li>
      <button>Sign up</button>
      <button>Login</button>
      <button>Welcome Abhijeet!</button>
    </li>
  </ul>
</nav>

<nav id="explore">
  <ul>
    <li id="location">
      Explore my neighborhood
    </li>
    <li id="browse-categories">
      Browse categories
    </li>
    <li id="filter">
      <span>Popular in my area</span>
      <span>Expiring soon</span>
      <span>Latest in my area</span>
      <span class='active'>Nearest to me</span>
    </li>
    <li id="search">
      <input type="text" placeholder="Search">
    </li>
  </ul>
</nav>
