<nav id="main">
  <ul>
    <li>{% include logo.html %}</li>
    <li>
      <button onclick="location.href='/signup';">Sign up</button>
      <button onclick="location.href='/login';">Login</button>
    </li>
  </ul>
</nav>

<nav id="explore">
  <ul>
    <li id="location">
      Explore my neighborhood / Set your precise location
    </li>
    <li id="browse-categories">
      Browse categories
    </li>
    <li id="filter">
      Nearest to me
    </li>
    <li>
      <input type="text" placeholder="Search">
    </li>
  </ul>
</nav>
