---
layout: main
title: Scatter
class: main
---

<div id="map">
  <img src="{{ site.url }}/assets/map-tmp.png">
  <span class="close"></span>
</div>

<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/1446023/2/stock-photo-1446023-recipe-card-dividers.jpg" alt="All categories">
        <p>Category</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Oxygen Eco Friendly Drycleaning</h3>
      <h3 class="messagelocation">Deen Dayal Upadhaya Marg, Barakhamba, New Delhi</h3>
      {% include card-companyinfo.html %}
    </div>
    
    <div class="messagecontainer">
      <div class="distance">12.3 Km</div>
      <div class="timeremaining">6234h : 42m left</div>
      <p class="message">Join us for Aarey Forest Half Marathon. Dt:16th Jun Time:6.00a.m. Assembly Point:Toll Naka, Off the Western Expr. Highway, Goregaon East</p>
      {% include card-sendmessage.html %}
    </div>
    
    {% include card-footer.html klass="active" %}
  </div>
</article>



<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/25046882/2/stock-photo-25046882-traditional-chinese-dish.jpg" alt="All categories">
        <p>Hobby class</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Dance Villa</h3>
      <h3 class="messagelocation">New Colony, Sector 7, Gurgaon</h3>
      {% include card-companyinfo.html %}
    </div>
    
    <div class="messagecontainer">
      <div class="distance">4798 Km</div>
      <div class="timeremaining">12h : 42m left</div>
      <p class="message">Dance Villa provides salsa dance classes. We have excellent staff that is courteous and professional. Call now for very competitive prices.</p>
      {% include card-sendmessage.html %}
    </div>

    {% include card-footer.html %}
  </div>
</article>




<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/6486134/2/stock-photo-6486134-real-estate-news.jpg" alt="All categories">
        <p>Real estate agent</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Big Deal Infrastructure</h3>
      <h3 class="messagelocation">Jacobpura, Sector-12A, Gurgaon</h3>
      {% include card-companyinfo.html %}
    </div>
    
    <div class="messagecontainer">
      <div class="distance">12 Km</div>
      <div class="timeremaining">0h : 42m left</div>
      <p class="message">Palm Drive flat for sale in Gurgaon, Golf Course Extension Road. Immediate requirement. Contact right now!</p>
      {% include card-sendmessage.html %}
    </div>

    {% include card-footer.html %}
  </div>
</article>



<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/12499972/2/stock-photo-12499972-car.jpg" alt="All categories">
        <p>Pharmacy</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Thirty Six Six The Chemist</h3>
      <h3 class="messagelocation">PWO Appartments, Sector 43, Gurgaon </h3>
      {% include card-companyinfo.html %}
    </div>
    
    
    <div class="messagecontainer">
      <div class="distance">12 Km</div>
      <div class="timeremaining">0h : 42m left</div>
      <p class="message">We are the specialist in skin medicare. Visit us for best service.</p>
      {% include card-sendmessage.html %}
    </div>

    {% include card-footer.html %}
  </div>
</article>



<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/6486134/2/stock-photo-6486134-real-estate-news.jpg" alt="All categories">
        <p>Real estate agent</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Big Deal Infrastructure</h3>
      <h3 class="messagelocation">Jacobpura, Sector-12A, Gurgaon</h3>
      {% include card-companyinfo.html %}
    </div>
    
    <div class="messagecontainer">
      <div class="distance">12 Km</div>
      <div class="timeremaining">0h : 42m left</div>
      <p class="message">Palm Drive flat for sale in Gurgaon, Golf Course Extension Road. Immediate requirement. Contact right now!</p>
      {% include card-sendmessage.html %}
    </div>

    {% include card-footer.html %}
  </div>
</article>



<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/12499972/2/stock-photo-12499972-car.jpg" alt="All categories">
        <p>Pharmacy</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Thirty Six Six The Chemist</h3>
      <h3 class="messagelocation">PWO Appartments, Sector 43, Gurgaon </h3>
      {% include card-companyinfo.html %}
    </div>
    
    <div class="messagecontainer">
      <div class="distance">12 Km</div>
      <div class="timeremaining">0h : 42m left</div>
      <p class="message">We are the specialist in skin medicare. Visit us for best service.</p>
      {% include card-sendmessage.html %}
    </div>

    {% include card-footer.html %}
  </div>
</article>

<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/1446023/2/stock-photo-1446023-recipe-card-dividers.jpg" alt="All categories">
        <p>Category</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Oxygen Eco Friendly Drycleaning</h3>
      <h3 class="messagelocation">Deen Dayal Upadhaya Marg, Barakhamba, New Delhi</h3>
      {% include card-companyinfo.html %}
    </div>
    
    <div class="messagecontainer">
      <div class="distance">12.3 Km</div>
      <div class="timeremaining">6234h : 42m left</div>
      <p class="message">Join us for Aarey Forest Half Marathon. Dt:16th Jun Time:6.00a.m. Assembly Point:Toll Naka, Off the Western Expr. Highway, Goregaon East</p>
      {% include card-sendmessage.html %}
    </div>

    {% include card-footer.html klass="active" %}
  </div>
</article>




<article class="card">
  <div id="inner">
    <div class="cardcategory">
      <a href="{{ site.url }}/" title="All categories">
        <img src="http://i.istockimg.com/file_thumbview_approve/25046882/2/stock-photo-25046882-traditional-chinese-dish.jpg" alt="All categories">
        <p>Hobby class</p>
      </a>
    </div>

    <div class="usercontainer">
      <h3 class="username">Dance Villa</h3>
      <h3 class="messagelocation">New Colony, Sector 7, Gurgaon</h3>
      {% include card-companyinfo.html %}
    </div>
    
    <div class="messagecontainer">
      <div class="distance">4798 Km</div>
      <div class="timeremaining">12h : 42m left</div>
      <p class="message">Dance Villa provides salsa dance classes. We have excellent staff that is courteous and professional. Call now for very competitive prices.</p>
      {% include card-sendmessage.html %}
    </div>

    {% include card-footer.html %}
  </div>
</article>
