---
layout: default
title: Pricing
class: pricing
---

<div id="content">
  <section>
    <article>
      <header>
        <h1>Pricing</h1>
      </header>
      
      <div id="monthly">
        <h2>Monthly plans</h2>
        <p>
          If you send at least one newsletter a month, a monthly subscription is your best option. We’ll bill your credit card every month, based on the total number of subscribers in your account.
        </p>
        
        <ul>
          <li>Full feature set</li>
          <li>Unlimited sending</li>
          <li>For frequent senders</li>
        </ul>
        
        <table>
          <thead>
            <tr>
              <th>Price / Month</th>
              <th>5</th>
              <th>10</th>
              <th>20</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>Ads</td>
              <td>30</td>
              <td>100</td>
              <td>unlimited</td>
            </tr>
            
            <tr>
              <td>{% include logo.html %}</td>
              <td><button>Sign up</button></td>
              <td><button>Sign up</button></td>
              <td><button>Sign up</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div id="pag">
        <h2>Pay as you go</h2>
        <p>
          If you’re not a frequent sender, you can purchase credits that work like stamps for email. Buy them when you need them, and don’t worry about squeezing value out of a monthly plan that doesn’t fit your needs.
        </p>
        
        <ul>
          <li>No monthly obligation</li>
          <li>Purchase as needed</li>
          <li>For infrequent senders  </li>
        </ul>
        
        <table>
          <thead>
            <tr>
              <th>Prepay amount</th>
              <th>4</th>
              <th>6</th>
              <th>9</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>Credit</td>
              <td>?</td>
              <td>?</td>
              <td>?</td>
            </tr>
            
            <tr>
              <td>{% include logo.html %}</td>
              <td><button>Sign up</button></td>
              <td><button>Sign up</button></td>
              <td><button>Sign up</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div id="annual">
        <h2>Annual plans</h2>
        <p>
          MailChimp is built to handle lists of any size. If you have more than 50,000 subscribers, get in touch with us for a quote.
        </p>
        
        <ul>
          <li>Do it yourself</li>
          <li>Intelligent delivery</li>
          <li>Multi-User Accounts</li>
        </ul>
        
        <table>
          <thead>
            <tr>
              <th>Price / year</th>
              <th>19</th>
              <th>39</th>
              <th>59</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>Ads</td>
              <td>500</td>
              <td>1,000</td>
              <td>unlimited</td>
            </tr>
            
            <tr>
              <td>{% include logo.html %}</td>
              <td><button>Sign up</button></td>
              <td><button>Sign up</button></td>
              <td><button>Sign up</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </section>
</div>
