
/* Set all parents to full height */
html, body, .container, #content, #content section {
  height: 100%;
}


body {
  .container {
    #header {
      @include block;
      
      h1 {
        width: $major;
        margin-left: $margin;
        
        position: fixed;
        z-index: 1;
        
        bottom: $pad;
        padding-bottom: 0;
      }
      
      form, nav {
        display: none;
      }
    }
  
    /* background-attachment does the trick */
    #content {
      section {
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
        article {
          width: $major;
          margin-left: $margin;
        }
        
        &#features {
          article {
            width: $major + $minor - $margin;
          }
        }
      }
    }
  }
}

body.business {
  .container {
  
    #header {
      position: fixed;
      bottom: $pad*2;
      
      h1, form, nav {
        display: inline-block;
        width: auto;
        margin-right: $pad*2;
        
        position: relative;
      }
      
      h1 {
        top: $pad/4;
      }
      
      
    }
  }
}




