body.main {
  height: auto;
  
  .container {
    width: 70%;
    margin: 0 auto;
    height: auto;
    
    #header {
      @include block;
      display: none;
      
      position: relative;
      margin-left: 0;
      top: $pad*2;
      
      h1, nav {
        width: auto;
        float: left;
        display: block;
      }
      
      nav {
        display: block;
        
        ul {
          @include list-inline;
          
          li {
            button {
              @include border;
              padding: $pad/2 $pad;
              cursor: pointer;
              background: $background;
            }
          }
        }
        
        &#main {
          float: right;
        }
        
        &#explore {
          @include block;
          margin: $pad 0;
          
          ul {
            li {
              &:last-of-type {
                float: right;
                
                input[type="text"] {
                  padding: $pad/4;
                }
              }
            }
          }
        }
      }
    }
    
    
    #content {
      @include block;
      height: auto;
      margin-top: $pad*2;
      
      article {
        @include block;
        @include border;
        
        width: 18%;
        margin-right: 2%;
        padding: 1%;
        margin-bottom: $pad;
        height: 25em;
        
        &:nth-of-type(4n) {
          margin-right: 0;
        }
        
        @include tablet {
          width: 42%;
          margin-right: 6%;
          height: 10em;
          
          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }
        
        @include mobile {
          width: 80%;
          height: auto;
          padding: $pad;
          
          &:nth-of-type(4n) {
            margin-right: 2%;
          }
        }
        
        .cardcategory {
          @include block;
          font-size: small;
          
          img {
            @include border-radius($pad/2);
          }
        }
        
        .usercontainer {
          @include block;
          
          h3 {
            padding: $pad/4 0;
            
            display: inline-block;
            float: left; 
            
            &.messagelocation {
              font-size: small;
            }
          }
        }
        
        .messagecontainer {
          @include block;
          width: 93%;
          min-height: 11em;
          
          @include border-radius($pad/2);
          background: $blue;
          padding: $pad/2;
          margin: $pad/2 0;
          
          font-weight: 400;
          font-size: small;
          line-height: 1.75;
          
          .distance, .timeremaining {
            width: auto;
            float: left;
          }
          
          .timeremaining {
            float: right;
          }
          
          .message {
            @include block;
            border-top: 1px solid;
            padding-top: $pad/2;
          }
        }
        
        
        .cardfooter {
          @include block;
          
          a {
            width: auto;
            margin-right: 10%;
            float: left;
            
            img {
              max-width: $pad;
              max-height: $pad;
            }
            
            &.l_followbtn {
              font-size: small;
              text-align: center;
              font-weight: 400;
              
              color: $color;
              @include border;
              padding: $pad/4 $pad/2;
              
              width: 50%;
            }
            
            &.mapicon {
              margin-right: 0;
            }
          }
        }
        
        
      }
    }
  }
}
