

$background: #F0EFEB;
$color: #363636;

$red: #FF4637;
$blue: #77C8F5;
$lightred: #F2C7C4;
$orange: #FF782A;



@mixin active {
  @include shadow;
  font-weight: 400;
  
  transition: all 0.25s ease-out 0.15s;
}


@mixin shadow {
  @include box-shadow(
    1px 0px #3a587f, 0px 1px #4171ae,
    2px 1px #3a587f, 1px 2px #4171ae,
    3px 2px #3a587f, 2px 3px #4171ae,
    4px 3px #3a587f, 3px 4px #4171ae,
    5px 4px #3a587f, 4px 5px #4171ae
  );
  
  &:hover, &:focus,
  &.hover, &.focus {
    transform: translate(2px, 2px);
    @include box-shadow( 
      1px 0px #3a587f, 0px 1px #4171ae,
      2px 1px #3a587f, 1px 2px #4171ae,
      3px 2px #3a587f, 2px 3px #4171ae,
      4px 3px #3a587f, 3px 4px #4171ae
    );
  }
  
  &:active,
  &.active {
   	transform: translate(4px, 4px);
    @include box-shadow( 
      1px 0px #3a587f, 0px 1px #4171ae,
      2px 1px #3a587f, 1px 2px #4171ae
    );
  }
}


@mixin button($background, $color) {
  background: $color;        
  color: $background;    
    
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: $pad/8;
  padding: $pad;
  margin-right: $pad;
  
  @include shadow;
}

@mixin link($type : normal) {
  @if $type == normal {
    color: $color;
    border-bottom: 1px solid $red;
    text-decoration: none;
  }
}





body {
  background: $background;
  color: $color;
  
  
  .container {
  
    a {
      color: $red;
      text-decoration: none;
    }
    
    
    form {
      input[type="submit"] {
        @include button($background, $color)
      }
      
      a {
        @include link;
      }
    }
  
  
    #header {
      h1 {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: $pad/2;
        
        &:first-letter {
          border: 2px solid;
          @include border-radius($pad/4);
          
          padding: $pad/12 $pad/3 $pad/8; /* S is aligned left */
          /* padding: $pad/12 0 $pad/8 $pad/2;   S is centered */
          
          margin-right: $pad/4;
        }
      }
    }
    
    #content {
      section {
      
        &#intro {
          background-image: url(/assets/smartphone-with-scatter.png);
          
          article {
            header {
              @include block;
              margin-top: $minor;
              
              h1 {
                color: $background;
              }
            }
            
            form {
              @include block;
              
              /* Enter now */
              input:last-of-type {
                @include button($background, $red);
                
              }
              
              /* I'm a business */
              a:first-of-type {
                display: inline-block;
                margin-top: $pad*3;
                
                @include big-screen {
                  margin-top: $pad*5;
                }
                
              }
            }
            
            
          }
        }
        
        
        
        &#features {
          background-image: url(/assets/tablet-with-scatter.png);
          
          
          article {
            aside {
              position: absolute;
              top: $pad*6;
              
              div {
                cursor: pointer;
                font-weight: 300;
                
                background: $blue;
                padding: $pad;
                @include border-radius($pad);
                
                display: inline-block;
                position: relative;
                top: 0em;
                left: 0em;
                max-width: $minor/2;
                
                
                &.active {
                  @include active;
                }
                
                
                p {
                  font-size: smaller;
                  border-bottom: 1px dashed;
                  padding-bottom: $pad/2;
                  text-align: center;
                  
                  &:nth-of-type(2) {
                    display: block;
                    border-bottom: none;
                    font-size: small;
                    
                    &:before {
                      content: url(http://scatteralpha.appspot.com/images/mapicon.png);

                      position: relative;
                      top: $pad/4;
                    }
                  }
                }
                
                p + p {
                  margin-top: $pad/2;
                }
                
                @include big-screen {
                  padding: $pad + $pad/2;
                }
                
              }
              
            }
            
            
            #highlight {
              width: $minor/2;
              float: left;
              margin-top: $minor - 6%;
              
              background: $blue;
              color: $background;
              padding: $pad*2;
              @include border-radius($pad*1);
              
              text-align: center;
              font-size: 200%;
              
              display: none;
            }
            
            
            ul {
              list-style: none;
              margin: 0;
              
              padding-top: $minor;
              float: left;
              width: $minor;
              
              
              li {
                span {
                  cursor: pointer;
                  background: $red;
                  margin-bottom: $pad/4;
                  font-weight: 300;
                  
                  display: inline-block;
                  padding: $pad/2;
                  
                  &:nth-of-type(2) {
                    &:after {
                      content: '\2794';
                      margin-left: $pad/4;
                    }
                  }
                  
                  &:nth-of-type(3) {
                    background: $blue;
                    color: $color;
                    
                    display: none;
                  }
                }
                
                &.active, &:hover {
                  span {
                    @include active;
                  }
                }
                
                @include big-screen {
                  span {
                    padding: $pad;
                  }
                }
                
              }
            }
            
            form {
              margin-top: $pad;
            }
            
            
            nav {
              position: absolute;
              bottom: $pad;
              right: $pad;
              float: right;
              
              cursor: pointer;
              
              h3 {
                text-align: right;
                padding: 0;
                
                font-variant: small-caps;
                font-size: 100%;
                
                &:after {
                  content: '\2794';
                  
                  @include rotate(90deg);
                  display: inline-block;
                  
                  font-size: 200%;
                  padding-left: $pad/2;
                  
                  visibility: visible;
                }
                
              }
            }
          }
        }
        
        
        &#testimonials {
          background-image: url(/assets/laptop-with-scatter.png);
          
          display: none;
          
          article {
            ul {
              @include block;
              margin: $pad*2 0 $pad;
              list-style: none;
              
              li {
                margin-bottom: $pad;
                @include block;
                  
                background: $color;
                color: $background;
                opacity: .9;
                
                font-weight: 400;
                
                @include big-screen {
                  max-width: $major;
                }
                
                img {
                  max-width: $pad*5;
                  float: left;
                  margin-right: $pad;
                }
                
                p {
                  padding: $pad;
                  padding-bottom: 0;
                  color: $orange;
                  
                  &:nth-of-type(2) {
                    font-size: small;
                    color: $background;
                  }
                }
                
                p + p {
                  margin-top: 0;
                }
              
              }
              
            }
            
            form {
              @include block;
              margin-top: $pad;
              
              @include big-screen {
                margin-top: $pad*10;
              }
            }
            
          }
          
          &.active {
            display: block;
          }
        }
        
        
      }
      
      
      
      
      
      &.business {
      
        
        form {
          position: fixed;
          bottom: $pad;
          left: $minor;
          float: left;
          z-index: 1;
          width: $major;
          
          input {
            &:last-of-type {
              @include button($background, $red);
            }
          }
        }
        
        nav {
          position: fixed;
          bottom: $pad + $pad/2;
          left: $major + 5%;
          float: left;
          z-index: 2;
          width: $major;
          
          ul {
            @include list-inline;
            
            li {
              padding-right: $pad;
              cursor: pointer;
              
              &:after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 4px solid $blue;
              }
              
              &:hover:after,
              &.active:after {
                background: $blue;
              }
            }
          }
        }
        
        h1, h2, h3 {
          font-weight: 300;
          font-size: 150%;
          
          @include big-screen {
            font-size: 200%;
          }
        }
        
       
        
        
        section {
          
          &.active {
            display: block;
          }
        
          article {
            @include block;
            width: 90%;
            margin: 0 auto;
            
            text-align: center;
          } 
        
          &#slide-1 div, 
          &#slide-2 div#tablet {
            background-image: url(/assets/scatter-clip.png);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          
        
          div {
            border: $pad/2 solid $lightred;
            @include border-radius($pad);
            
            display: inline-block;
            position: relative;
            top: 0em;
            left: 0em;
            margin-top: $margin/2;
            
            
            &#desktop {
              width: 15em;
              height: 10em;
            }
            
            &#mobile {
              width: 3em;
              height: 5em;
            }
            
            &#tablet {
              width: 5em;
              height: 7em;
              left: 1em;
            }
            
            &#roof {
              position: relative;
              top: -8em;
              left: 12.8em;
              
              width: 0; 
              height: 0; 
              border-left: 7em solid transparent;
              border-right: 7em solid transparent;
              border-top: 7em solid transparent;
              border-bottom: 7em solid $lightred;
            }
            
            &#house {
              width: 10em;
              height: 15em;
              
              #door {
                width: 2em;
                height: 4em;
                position: relative;
                top: 7em;
                left: 2em;
              }
            }
          }
          
          &#slide-1 {
            div {
              &:after {
                content: '\21B7';
                font-size: 1000%;
                color: $lightred;
                display: inline-block;
                position: relative;
              }
              
              &:nth-of-type(1) {
                &:after {
                  @include transform(rotate(-90deg));
                  top: -1.05em;
                  left: 50%;
                }
              
              }
              
              &:nth-of-type(2) {
                &:after {
                  @include transform(rotate(25deg));
                  left: 75%;
                  top: -.4em;
                }
              
              }
              
              &:nth-of-type(3) {
                &:after {
                  @include transform(rotate(125deg));
                  top: 40%;
                  left: -.5em;
                }
              
              }
            }
          }
          
          &#slide-2 {
            #tablet {
              &:after {
                content: '\21E8';
                font-size: 1000%;
                color: $lightred;
                display: inline-block;
                position: relative;
              }
            }
          
            figure {
              position: relative;
              top: -20em;
              left: 5em;
            }
          }
          
          &#slide-3 {
            @include block;
            
            article {
              width: 30%;
              margin-right: 5%;
              margin-left: 0;
              float: left;
              
              div {
                background: $lightred;
                width: 10em;
                height: 15em;
                
                position: relative;
                top: -5em;
              }
              
              
              &:nth-of-type(1), 
              &:nth-of-type(2) {
                &:after {
                  content: '\21E8';
                  font-size: 1000%;
                  color: $lightred;
                  display: inline-block;
                  position: relative;
                }
              }
              
              &:nth-of-type(3) {
                margin-right: 0;
                
                div {
                  min-height: 15em;
                  height: auto;
                  
                  background: transparent;
                  border: none;
                  
                  top: 0;
                  
                  ul {
                    list-style: none;
                    margin: 0;
                    
                    li {
                      background: $lightred;
                      border: $pad/2 solid $lightred;
                      @include border-radius($pad);
                      margin-bottom: $pad*2;
                    }
                  }
                }
              }
              
            }  
          
          }
          
        }
        
      }
    }
  }
}
 

