

$background: #F0EFEB;
$color: #363636;

$red: #FF4637;
$blue: #77C8F5;


body {
  background: $background;
  color: $color;
  
  a {
    @include link-colors($red);
    text-decoration: none;
  }
  
  .container {
    #header {
      hgroup {
        h1 {
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: $pad/2;
          
          &:first-letter {
            border: 2px solid;
            @include border-radius($pad/4);
            
            padding: $pad/12 $pad/3 $pad/8; /* S is aligned left */
            /* padding: $pad/12 0 $pad/8 $pad/2;   S is centered */
            
            margin-right: $pad/4;
          }
          
        }
      }
    }
    
    #content {
      section {
      
      }
    }
  }
}
 

